
*{
    margin: 0;padding: 0;
}


.navbar{
    display: flex;justify-content: space-between; 
    align-items: center;
    max-width: 1200px;margin: 0 auto;
     background-color: beige; padding: 20px;}
    
    
    .logo ul{
        display: flex;list-style: none; gap: 20px;
        justify-content: center;align-items: center;
    }
    .logo ul li a{
        text-decoration: none;color: rgb(100, 100, 99);
    }
    .btn button{
        background-color:rgb(11, 43, 223); color: white;
        padding: 10px 20px;border-radius: 8px;
         border: none; cursor: pointer;
    }
 .logo,.img,.btn{
        display: flex;justify-content:
         center;align-items: center;
    }
.content{
    display:grid ;
    gap: 20px; text-align: center;color: white;
    max-width: 1200px;
}
.banner{
    height: 100vh;
     background:linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),
     url("./assets/banner.jpg");
    background-position: center;background-size:
     cover;background-repeat: no-repeat;
     display: grid; place-items: center;width: 100%; 
}
.content h1{
    font-size: 70px;}
.more button{
    padding: 15px 40px; 
}
